.Gif{
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    margin: 16px;
    padding: 32px;
    width: 80%;
    height: auto;
}

.Gif img{
    object-fit: contain;
}

.Gif h5{
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
