
Gif {
  --gifShadow-size : var(--gridList-gap, 6px);
  margin-bottom:0em;
  background-color: #fff;
}

.Gif-link {
  color: #000;
  display: flex;
  text-decoration: none;
  position: relative;
  width: 100%;
}

.Gif, .Gif-link {
  height: 100%;
}

.Gif-link img {
  height: inherit;
  object-fit: cover;
}

.Gif h4 {
  background: rgba(0, 0, 0, .4);
  bottom: 0;
  font-size: 12px;
  color: #fff;
  margin: 0;
  position: absolute;
}

.Gif img {
  width: 100%;
  background-size: cover;
  vertical-align: top;
}

i {
  font-size: 80px;
}

.Gif:nth-child(10n + 1) {
  grid-column: span 2;
  grid-row: span 2;
}

.Gif:nth-child(7n+1) {
	grid-column-end: span 2;
	grid-row-end: span 2;
}

/* .Gif:nth-child(10n + 3) {
	grid-column: span 2;
	grid-row: span 1;
} */

@media screen and (max-width: 45rem)
{
  .Gif:nth-child(11n + 1),
  .Gif:nth-child(8n+1),
  .Gif:nth-child(10n + 3) {
    grid-column: span 1;
    grid-row: span 1;
  }
}

