.App {
  text-align: center;
  font-size: 16px;
}

.App-content {
  background-color:#AC6DDE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 15px;
  color: white;
}

.App-logo {
  object-fit: contain;
  height: 250px;
}

/* .App-logo {
  margin: 10px auto;
  padding: 20px 0;
  width: 144px;
  object-fit: contain;

}

.App-logo img {
  width: 100%;
} */

h3{
  font-size: 35px;
}